@supports (display: grid) {
  .userInfoView {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.userInfoView input {
  margin: 0;
  width: 230px;
  font-size: 18px;
  color: #7e8287;
  margin-bottom: 20px;
  border: none;
  border-bottom: 2px solid #0ec9e3;
  outline: none;
}

.button button {
  width: 480px;
  color: #fefefe;
  background-color: #212326;
  text-transform: uppercase;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 10px;
}

.addUserForm {
  margin: 0 auto;
  width: 500px;
  padding: 20px;
}
